VITE_EMAILJS_SERVICE_ID=service_nt46ufr
VITE_EMAILJS_CLIENT_TEMPLATE_ID=template_dad2ejb
VITE_EMAILJS_PUBLIC_KEY=K8VYNCzOMRuThgpc1
VITE_CONTACT_RECIPIENT_EMAIL=tohonaris03@gmail.com
VITE_EMAILJS_TEAM_TEMPLATE_ID=template_0me987s